.tag{
    margin-right: 5px;
}

.tag-click{
    cursor: pointer;    
    font-size: 12px;
    margin-top: 10px;
    font-weight: bold;
    font-style: italic;
}

img{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.377), 0 6px 20px 0 rgba(0, 0, 0, 0.432);
}

@font-face {
    font-family: myFirstFont;
    src: url(/assets/font/penakut.ttf);
}

@font-face {
    font-family: action;
    src: url(/assets/font/Factory.ttf);
}

@font-face {
    font-family: love;
    src: url(/assets/font/KLCupid.ttf);
}

@font-face {
    font-family: anime;
    src: url(/assets/font/waltograph42.otf);
}

.horror{
    font-family: myFirstFont, sans-serif;
    font-size: 55px;
    margin: 0;
    margin-left: 30px;
    margin-top: 50px;
    font-weight: 500;
}

.action{
    font-family: action, sans-serif;
    font-size: 55px;
    margin: 0;
    margin-left: 30px;
    margin-top: 50px;
    font-weight: 500;
}

.love{
    font-family: love, sans-serif;
    font-size: 55px;
    margin: 0;
    margin-left: 30px;
    margin-top: 50px;
    font-weight: 500;
}

.anim{
    font-family: anime, sans-serif;
    font-size: 55px;
    margin: 0;
    margin-left: 30px;
    margin-top: 50px;
    font-weight: 500;
}