<div style="padding-top: 100px; z-index: -5">
  <div class="card" style="width: 100%; margin: 0 auto">
    <p-carousel
      [value]="risultati"
      [numVisible]="1"
      [numScroll]="1"
      [circular]="true"
      [responsiveOptions]="responsiveOptions"
      [autoplayInterval]="6000"
    >
      <ng-template let-f pTemplate="item">
        <div
          class="border-1 surface-border border-round text-center"
          style="background-image: url('https://image.tmdb.org/t/p/original{{f.backdrop_path}}'); background-size: cover; background-position: center; height: 600px;"
        >
          <div
            style="
              text-align: left;
              margin: 30px;
              bottom: 0;
              position: absolute;
            "
          >
            <img
              src="https://image.tmdb.org/t/p/original{{ f.poster_path }}"
              style="width: 150px"
            />

            <div
              style="
                background-color: rgba(0, 0, 0, 0.281);
                width: fit-content;
                border-radius: 5px;
              "
            >
              <h2 style="padding: 5px; padding-bottom: 0">{{ f.title }}</h2>
              <p
                style="
                  width: 800px;
                  font-size: 12px;
                  padding: 5px;
                  padding-top: 0;
                "
              >
                {{ f.overview }}
              </p>
            </div>

            <p-tag class="tag" severity="warning"
              >Rilasciato il:
              {{ f.release_date | date:'dd-MM-yyyy' }}</p-tag
            >
            <br/>
            <button
            pButton
            pRipple 
              class="tag-click"
              (click)="recuperaId(f)"
              routerLink="/{{ f.id }}"
              size="small"
              >
              <i class="pi pi-hashtag" style="font-size: 1rem; margin-right: 5px;"></i>
              Dettaglio film</button
            >
          </div>
        </div>
      </ng-template>
    </p-carousel>
</div>

<div>
<h3 class="horror">Horror</h3>
<p-carousel [value]="horror" [numVisible]="7" [circular]="true" [responsiveOptions]="responsiveOptions" [autoplayInterval]="9000" [showIndicators]="false">
  <ng-template let-horror pTemplate="item">
      <div class="border-1 surface-border border-round m-2 text-center py-5 px-3 details" style="height: 440px;" (click)="recuperaId(horror)">
          <div class="mb-2">
              <img src="https://image.tmdb.org/t/p/original{{horror.poster_path}}"  class="w-12 shadow-2" style=" height: 320px;"/>
          </div>
          <div>
              <h4 class="mb-1" style="font-weight: 500; margin-top: 0; font-size: 13px;">{{ horror.title }}</h4>
          </div>
      </div>
  </ng-template>
</p-carousel>
</div>

<div>
  <h3 class="action">ACTION</h3>
  <p-carousel [value]="action" [numVisible]="7" [circular]="true" [autoplayInterval]="9500" [showIndicators]="false">
    <ng-template let-action pTemplate="item">
        <div class="border-1 details surface-border border-round m-2 text-center py-5 px-3" style="height: 440px;" (click)="recuperaId(action)">
            <div class="mb-2">
                <img src="https://image.tmdb.org/t/p/original{{action.poster_path}}"  class="w-12 shadow-2"  style="cursor: pointer; height: 320px;"/>
            </div>
            <div>
                <h4 class="mb-1" style="font-weight: 500; margin-top: 0; font-size: 13px;">{{ action.title }}</h4>
            </div>
        </div>
    </ng-template>
  </p-carousel>
  </div>

<div>
    <h3 class="love">[romantic]</h3>
    <p-carousel [value]="love" [numVisible]="7" [circular]="true" [responsiveOptions]="responsiveOptions" [autoplayInterval]="9701" [showIndicators]="false">
      <ng-template let-love pTemplate="item">
          <div class="border-1 details surface-border border-round m-2 text-center py-5 px-3" style="height: 440px;" (click)="recuperaId(love)">
              <div class="mb-2">
                  <img src="https://image.tmdb.org/t/p/original{{love.poster_path}}"  class="w-12 shadow-2" style="cursor: pointer; height: 320px;"/>
              </div>
              <div>
                  <h4 class="mb-1" style="font-weight: 500; margin-top: 0; font-size: 13px;">{{ love.title }}</h4>
              </div>
          </div>
      </ng-template>
    </p-carousel>
</div>
  
<div>
  <h3 class="anim">Animation</h3>
  <p-carousel [value]="anim" [numVisible]="7" [circular]="true" [responsiveOptions]="responsiveOptions" [autoplayInterval]="10001" [showIndicators]="false">
    <ng-template let-anim pTemplate="item">
        <div class="border-1 details surface-border border-round m-2 text-center py-5 px-3" style="height: 440px;" (click)="recuperaId(anim)">
            <div class="mb-2">
                <img src="https://image.tmdb.org/t/p/original{{anim.poster_path}}"  class="w-12 shadow-2" style="cursor: pointer; height: 320px;"/>
            </div>
            <div>
                <h4 class="mb-1" style="font-weight: 500; margin-top: 0;  font-size: 13px;">{{ anim.title }}</h4>
            </div>
        </div>
    </ng-template>
  </p-carousel>
</div>

</div>
