<div style="padding-top: 80px; z-index: -5">
  <h1 style="text-align: center">Catalogo</h1>
  <div class="card" style="max-width: 1400px; margin: 0 auto">
    <p-carousel
      [value]="risultati"
      [numVisible]="1"
      [numScroll]="3"
      [circular]="true"
      [responsiveOptions]="responsiveOptions"
      [autoplayInterval]="8000"
    >
      <ng-template let-f pTemplate="item">
        <div
          class="border-1 surface-border border-round m-2 text-center py-5 px-3"
        >
          <div class="mb-3">
            <img
              src="{{ 'https://image.tmdb.org/t/p/w500/' + f.backdrop_path }}"
              [alt]="f.name"
            />
          </div>
          <div>
            <h4>{{ f.title }}</h4>
            <h6>{{ f.overview }}</h6>
            <p-tag
              >Rilasciato il:
              {{ f.release_date | date : "longDate" : "IT" }}</p-tag
            >
            <p-tag (click)="recuperaId(f)" routerLink="/{{ f.id }}">Dett</p-tag>
          </div>
        </div>
      </ng-template>
    </p-carousel>
  </div>
</div>
