div.sfondo {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  padding-left: 25px;
  padding-top: 15px;
}

div img {
  height: 300px;
  margin-top: 30px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.377),
    0 6px 20px 0 rgba(0, 0, 0, 0.432);
}

.front {
  backdrop-filter: blur(10px) brightness(0.6);
  max-width: 1000px;
  padding: 8px;
  border-radius: 5px;
}

h1.front,
h5.front,
h3.front {
  width: fit-content;
  padding: 0 14px;
  border-radius: 5px;
}

p.front {
  font-size:14px;
}

.reverse {
  direction: rtl;
  unicode-bidi: bidi-override;
  text-align: left;
}

.avviso {
  border-radius: 4px;
  cursor: pointer;
  font-size: 12px;
  background-color: rgb(0, 0, 0);
  padding: 5px;
  position: absolute;
  transform: translate(25px, 11px);
}

.torna {
  display: block;
  margin-top: 20px;
  font-size: 12px;
  padding: 2px 3px;
  background-color: rgba(255, 255, 255, 0.575);
  border-color: transparent;
  font-style: italic;
}

@media all and (max-width: 1080px) {
    p.front {
        font-size: 10px;
    }

}

@media all and (max-width: 1001px) {
    .torna{
        margin-top: 30px;
    }
}

@media all and (max-width: 644px) {
    .torna{
        margin-top: 70px;
    }
}

@media all and (max-width: 559px) {
    .torna{
        margin-top: 110px;
    }

    p.front{
        font-size: 8px;
    }

    h1.front,
    h3.front{
        font-size: smaller;
    }
}

@media all and (max-width: 523px) {
    .torna{
        margin-top: 145px;
    }
}