<body [ngClass]="{'no-scroll': !authservice.getLoggedUser()}">
<div class="top">
  <div class="containers">
    <br />
    <div *ngFor="let f of risultati" class="card flex" (click)="recuperaId(f)">
      <div
        id="card"
        [ngStyle]="{
          'background-image':
            'url(https://image.tmdb.org/t/p/w500/' + f.poster_path + ')'
        }"
      >
        <h3>{{ f.title }}</h3>
      </div>
    </div>
  </div>

  <p-scrollTop
    target="window"
    behavior="smooth"
    styleClass="custom-scrolltop"
    [threshold]="100"
    icon="pi pi-arrow-up"
  ></p-scrollTop>
 
 <div
    *ngIf="authservice.getLoggedUser()"
    infinite-scroll
    [infiniteScrollDistance]="3"
    [infiniteScrollUpDistance]="3"
    [infiniteScrollThrottle]="300"
    (scrolled)="altriFilm()"
  >
</div> 

 <p-blockUI
    *ngIf="!authservice.getLoggedUser()"
    [blocked]="blockedDocument"
  ></p-blockUI>

  <div
    *ngIf="!authservice.getLoggedUser()"
    style="cursor: pointer; overflow-y: hidden"
  >
    <div
      routerLink="/login"
      class="card flex flex-column align-items-center cover"
    >
      <p style="margin-top: 50px">Accedi per visualizzare l'intero catalogo.</p>
      <i
        class="pi pi-angle-down fadeout animation-duration-2000 animation-iteration-infinite"
        style="font-size: 1rem"
      ></i>
    </div>
  </div>

</div>
</body>