@import 'primeng/resources/themes/viva-light/theme.css';
.front{
    color: white;
}
#card h3{
    color: white;
}

.avviso{
    color: white;
}

h2, p{
    color: white;
}

.contatti-p{
    color: black;
}