<div style="padding-top: 90px; z-index: -5">
  <h1>Contatta LABFORTRAINING, la scuola di web a Roma.</h1>
  <ul>
    <li>
      <a href="mailto:info@labfortraining.it" class="mail"
        >info@labfortraining.it</a
      >
    </li>
    <li><a class="telefono" href="tel:06.58205135">06.58205135</a></li>
    <li>
      <a href="https://wa.me/+393519392372" class="whatsapp" target="_blank"
        >3519392372</a
      >
    </li>
  </ul>
  <p>
    La sede LABFORTRAINING è a Roma, in via Francesco Saverio Solari, 16. Gli
    uffici sono aperti dal Lunedì al Venerdì dalle 9:30 alle 18:30.
  </p>
  <iframe
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3533.5943355442537!2d12.456178537355466!3d41.86302351792502!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x132f601da414ff73%3A0x50af1f8c10d58d13!2sLABFORTRAINING!5e0!3m2!1sit!2sus!4v1700751508133!5m2!1sit!2sus"
    width="600"
    height="450"
    style="border: 0"
    allowfullscreen=""
    loading="lazy"
    referrerpolicy="no-referrer-when-downgrade"
  ></iframe>
</div>
<div id="UpdatePanelInfo">
  <ul>
    <li>
      <label for="txtNome">Nome *</label
      ><input name="ctl00$txtNome" type="text" id="txtNome" class="testo" />
    </li>
    <li>
      <label for="txtEmail">Email *</label
      ><input
        name="ctl00$txtEmail"
        id="txtEmail"
        class="testo"
        type="email"
      /><input
        name="ctl00$txtEmail2"
        id="txtEmail2"
        class="testo2"
        type="email"
      />
    </li>
    <li>
      <label for="txtTel">Telefono *</label
      ><input name="ctl00$txtTel" id="txtTel" class="testo" type="tel" />
    </li>
    <li>
      <label for="txtMessaggio">Richiesta</label
      ><textarea
        name="ctl00$txtMessaggio"
        rows="2"
        cols="20"
        id="txtMessaggio"
        class="AreaTesto"
      ></textarea>
    </li>
    <li class="privacy">
      <input id="chkPrivacy" type="checkbox" name="ctl00$chkPrivacy" /> Ho letto
      l'<a href="/labfortraining-privacy" target="_blank"
        >informativa sulla privacy</a
      >
      e accetto le condizioni
    </li>
    <li>
      <input
        type="submit"
        name="ctl00$bt_info"
        value="Richiedi informazioni"
        onclick="return checkForm();"
        id="bt_info"
        class="pulsante"
      />
    </li>
  </ul>
</div>
