.contatti{
    max-width: 1300px;
    margin: 0 auto;
    padding: 90px 15px 15px 10px;
}

.contatti ul{
    list-style: none;
}

a{
    text-decoration: none;
}

iframe{
    width: 600px;
    height: 690px;
}

.pi{
    margin-right: 6px;
    color: white;
}

@media all and (max-width: 645px) {
    .contatti{
        padding-top: 130px;
    }
}

@media all and (max-width: 560px) {
    .contatti{
        padding-top: 170px;
    }
}

@media all and (max-width: 523px) {
    .contatti{
        padding-top: 200px;
    }
}
